<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030211861772-4b2tc2m8j0i23gd3opk2q5fc024psoq1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030211861772-4b2tc2m8j0i23gd3opk2q5fc024psoq1</string>
	<key>API_KEY</key>
	<string>AIzaSyBVxgYIPrE6QCMoZpRc6gWPssHELQzBwqE</string>
	<key>GCM_SENDER_ID</key>
	<string>1030211861772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pastry</string>
	<key>PROJECT_ID</key>
	<string>pastry-6b817</string>
	<key>STORAGE_BUCKET</key>
	<string>pastry-6b817.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030211861772:ios:dfaa340eef008007a65d29</string>
</dict>
</plist>